.venv/
**/.venv/
.pio/
**/.pio/
__pycache__/
**/__pycache__/
.pytest_cache/
node_modules/
**/node_modules/
dist/
**/dist/
*.pyc
*.log
logs/
**/logs/
**/device_config.h
**/config.py
windows/.venv/
.env
.env.*
!.env.example
